<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tankolás Szűrése</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">
    <h2>Tankolás szűrése dátum alapján</h2>
    <form method="POST">
        <div class="form-group">
            <label for="start_date">Kezdő dátum</label>
            <input type="date" class="form-control" id="start_date" name="start_date" required>
        </div>
        <div class="form-group">
            <label for="end_date">Záró dátum</label>
            <input type="date" class="form-control" id="end_date" name="end_date" required>
        </div>
        <button type="submit" class="btn btn-primary">Szűrés</button>
    </form>

    <h3 class="mt-5">Szűrt tankolások</h3>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Dátum</th>
                <th>Liter</th>
                <th>Fizetett összeg (HUF)</th>
                <th>Kilométeróra Állása</th>
            </tr>
        </thead>
        <tbody>
            {% for tankolas in tankolasok %}
            <tr>
                <td>{{ tankolas[1] }}</td>
                <td>{{ tankolas[2] }} liter</td>
                <td>{{ tankolas[3] }} HUF</td>
                <td>{{ tankolas[4] }} km</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
</body>
</html>
