<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Havi Kiadások</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">
    <h2>Havi kiadások tankolásra</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Hónap</th>
                <th>Kiadás (HUF)</th>
            </tr>
        </thead>
        <tbody>
            {% for stat in statisztika %}
            <tr>
                <td>{{ stat[0] }}</td>
                <td>{{ stat[1] }} HUF</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
</body>
</html>
